body {
  margin: 0px;
}

.main {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main2 {
  background-color: white;
  width: 70vw;
  height: 100vh;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 1vh 1vh;
}

.box {
  background-color: red;
}

img {
  width: 100%;
}
